<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
        
    <div class="flex-1">
        <div class="m-5">
            <p-card >
                <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div>    
                <div class="grid mb-5">
                    <div class="col-10">
                        <h4 >Create User Role</h4>
                    </div>
                    <div class="col-2"></div>                                            
                </div>
                
                <form class="mb-5" (ngSubmit)="onSubmit()">
                    <div class="grid">
                        <div class="col-12">
                            <label for="roleName">Role Name</label>                            
                            <input class="w-full" type="text"  name="roleName" id="roleName" pInputText [(ngModel)]="insert.roleName" />
                        </div>
                        <div class="col-12">
                            <label for="roleCode">Role Code</label>                            
                            <input class="w-full" type="text"  name="roleCode" id="roleCode" pInputText [(ngModel)]="insert.roleCode" />
                        </div>                        
                        <div class="col-12">  
                            <label for="isActive">Active</label> <br>                         
                            <input type="checkbox" name="isActive" id="" [(ngModel)]="insert.isActive" >
                        </div>                                                      
                        <div class="col-6 justify-content-bottom">
                            <button pButton pRipple [loading]="isLoading" type="submit" label="Create" icon="pi pi-pencil" class="p-button-rounded p-button-success"></button>                            
                        </div>
                    </div>
                </form>                                                                                           
            </p-card>            
        </div> 
    </div>
</div>

