<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
    
    <!-- end of sidebar -->
    <div class="flex-1">
        <div class="m-5">
            <p-card > 
                <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div>  
                <h4 class="mb-5">Create Activity Category</h4>                
                <form class="form-create-custom" (ngSubmit)="onSubmit()">
                    <div class="grid">
                        <div class="col-12">
                            <label for="name">Name</label><br>
                            <input class="w-full mt-2" id="name" name="activityName" pInputText autoResize="autoResize" [(ngModel)]="insert.categoryName" />
                        </div>
                        <div class="col-12">
                            <label for="code">Code</label><br>
                            <input class="w-full mt-2" id="code" name="activityCode" pInputText autoResize="autoResize" [(ngModel)]="insert.categoryCode" />
                        </div>
                        <div class="col">  
                            <label for="isActive">Active</label> <br>                         
                            <p-checkbox type="checkbox" name="isActive" id="" value="true" [binary]="true" [value]="insert.isActive" [(ngModel)]="insert.isActive" ></p-checkbox>
                        </div>
                        <div class="col-12">
                            <button pButton pRipple [loading]="isLoading" type="submit" label="Create" icon="pi pi-pencil" class="p-button-rounded p-button-success"></button>
                        </div>                 
                    </div>
                </form>          
            </p-card>
            
        </div> 
    </div>
</div>

