<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
    <div class="flex-1">
        <div class="m-5">
            <p-card >  
               <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div>    
                <div class="grid mb-5">
                    <div class="col-10">
                        <h4 >Update Company</h4>
                    </div>
                    <div class="col-2"></div>                                            
                </div>              

                <form class="mb-5" (ngSubmit)="onUpdate()" ngNativeValidate>
                    <div class="grid">                        
                        <div class="col-6">
                            <label for="name">Name <span class="text-red-500">*</span></label>                            
                            <input class="w-full" type="text"  name="companyName" id="name" pInputText [(ngModel)]="update.categoryName" minlength="4" maxlength="35" required/>
                        </div>
                        <div class="col-6">
                            <label for="code">Code <span class="text-red-500">*</span></label>                            
                            <input class="w-full" type="text"  name="companyCode" id="code" pInputText [(ngModel)]="update.categoryCode" minlength="2" maxlength="10" required/>
                        </div>
                        <div class="col-6">   
                            <label for="isActive">Active</label> <br>                         
                            <p-checkbox type="checkbox" name="isActive" [binary]="true" [value]="update.isActive" [(ngModel)]="update.isActive" ></p-checkbox>
                        </div>                        
                    </div>
                    <div class="flex flex-row justify-content-center">
                        <button [loading]="isLoading" pButton pRipple type="submit" label="Change" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>                            
                    </div>
                </form>                                                                            
            </p-card>
            
        </div> 
    </div>
</div>

