<div class="grid" [ngStyle]="{'min-height': '100vh'}">
    <div class="sm:col-6 col-12" id="login" >
        
        <div class="flex justify-content-center align-items-center" id="container-quote" [ngStyle]="{'min-height': '100vh'}">
            <span class="text-white text-5xl" >
                Selamat datang di komunitas Lawencon
            </span>            
        </div>

        <div class="flex justify-content-center align-items-center mt-6" id="container-logo">
            <img id="login-logo" src="../../../../assets/img/lunity-logo.png" alt="">
        </div>
    </div>


    <div class="sm:col-6 col-12" [ngStyle]="{'min-height': '100vh'}" >
        <div class="flex justify-content-center align-items-center" [ngStyle]="{'min-height': '100vh'}">
            <div [ngStyle]="{'width': '75%'}">
            <form>  
                <span class="icon-round mr-2 mb-3" [ngStyle]="{'background-color': 'var(--blue-500)'}">
                    <i class="pi pi-file text-white"></i>
                </span>
                <span>Account Detail</span>            

                <div class="my-2">
                    <label for="company">Company</label><span class="text-red-500">*</span>
                </div>                                
                <p-dropdown name="company" id="company" [options]="companies.data" optionLabel="companyName" optionValue="id" styleClass="w-full" [(ngModel)]="company">
                </p-dropdown>

                <div class="my-2">
                    <label class="mt-2" for="industry">Industry</label><span class="text-red-500">*</span>
                </div>                                
                <p-dropdown name="industry" id="industry" [options]="industries.data" optionLabel="industryName" optionValue="id" styleClass="w-full" [(ngModel)]="industry"></p-dropdown>

                <div class="my-2">
                    <label class="mt-2" for="position">Position</label><span class="text-red-500">*</span>
                </div>                                
                <p-dropdown name="position" id="position" [options]="positions.data" optionLabel="positionName" optionValue="id" styleClass="w-full" [(ngModel)]="position"></p-dropdown>

                <button class="mt-4" pButton type="button" (click)="submit()" [ngStyle]="{'width': '100%'}" label="NEXT"></button>
       
            </form>     
            </div>
        </div>
    </div>
</div>