<div class="grid" [ngStyle]="{'min-height': '100vh'}">
    <div class="sm:col-6 col-12" id="login" >
        
        <div class="flex justify-content-center align-items-center" id="container-quote" [ngStyle]="{'min-height': '100vh'}">
            <span class="text-white text-5xl" >
                Selamat datang di komunitas Lawencon
            </span>            
        </div>

        <div class="flex justify-content-center align-items-center mt-6" id="container-logo">
            <img id="login-logo" src="../../../../assets/img/lunity-logo.png" alt="">
        </div>

    </div>
    <div class="sm:col-6 col-12" [ngStyle]="{'min-height': '100vh'}" >
        <div class="flex justify-content-center align-items-center" [ngStyle]="{'min-height': '100vh'}">
            <div [ngStyle]="{'width': '75%'}">
            <form>  
                <span class="icon-round" [ngStyle]="{'background-color': 'var(--blue-500)'}">
                    <i class="pi pi-file text-white"></i>
                </span>
                <span>Sign Up</span>            

                <div class="mt-2">
                    <label for="verify">Verify Your Code</label>
                </div>                                
                <input class="mt-2" type="text" [ngStyle]="{'width': '100%'}" name="verificationCode" id="verify" pInputText />

                <button class="mt-4" pButton type="button" [ngStyle]="{'width': '100%'}" label="Verifying" ></button>
            </form>     
            </div>
        </div>
    </div>
</div>