<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
        
    <div class="flex-1">
        <div class="m-5">
            <p-card >
                <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div>    
                <div class="grid mb-5">
                    <div class="col-10">
                        <h4 >Create Industry</h4>
                    </div>
                    <div class="col-2"></div>                                            
                </div>
                
                <form class="mb-5" (ngSubmit)="insertIndustry()"  ngNativeValidate>
                    <div class="grid">
                        <div class="col-12 sm:col-6">
                            <label for="name">Name <span class="text-red-500">*</span></label>                            
                            <input class="w-full" type="text"  name="industryName" id="name" pInputText [(ngModel)]="insert.industryName" minlength="4" maxlength="35" required/>
                        </div>
                        <div class="col-12 sm:col-6">
                            <label for="code">Code <span class="text-red-500">*</span></label>                            
                            <input class="w-full" type="text"  name="indusryCode" id="code" pInputText [(ngModel)]="insert.industryCode" minlength="2" maxlength="10" required/>
                        </div>
                        <div class="col-12 sm:col-6">  
                            <label for="isActive">Active</label> <br>                         
                            <input type="checkbox" name="isActive" id="" [(ngModel)]="insert.isActive" >
                        </div>                                                                      
                        
                    </div>
                    <div class="grid">
                        <div class="col-12 sm:col-6 col-offset-6">
                            <button pButton pRipple type="submit" label="Create" icon="pi pi-pencil" class="p-button-rounded p-button-success"></button>                            
                        </div>
                    </div>
                </form>                                                                                           
            </p-card>
            
        </div> 
    </div>
</div>

