
<div infinite-scroll (scrolled)="onScrollLike()">
    <p-card styleClass="mb-3" *ngFor="let data of likeThreads.data">
        <div class="content-card-header flex flex-row px-4 mb-3">
            <img class="content-card-header-pic" *ngIf="data.userFile === null"
                src="../../../../../assets/img/blank-profile.jpg" alt="">
            <img class="content-card-header-pic" *ngIf="data.userFile !== null" src="{{'http://localhost:1221/files/'+data.userFile}}" alt="">
            
            <div class="content-card-header-dtl ml-3 flex flex-column justify-content-center">
                <div class="header-details mt-3">
                    <h4>{{data.threadTitle}}</h4>
                    <span class="header-date">{{data.createdAt | timeAgo}}</span>
                </div>
            </div>
        </div>

        <div class="content-card-body mt-2 px-4">
            <p>
                {{data.threadContent}}
            </p>
        </div>

        <div class="content-card-footer mt-3 px-4">
            <div class="grid flex flex-row justify-content-between">
                <div class="activity-left flex flex-row align-items-center">
                    <a class="mr-2">
                        <span class="pi pi-heart" *ngIf="!data.isLike" (click)="like(data.id)"></span>
                        <span class="pi pi-heart-fill icon-like-filled" *ngIf="data.isLike" (click)="unlike(data.id)"></span>
                    </a>
                    <span class="mr-3">{{data.countLike}}</span>
                    <a class="mr-2" (click)="goToComment(data.id)">
                        <span class="pi pi-comment"></span>
                    </a>
                    <span class="mr-3">{{data.countComment}}</span>
                </div>

                <!-- <div class="activity-right flex flex-row align-items-center">
                    <div class="flex flex-row justify-content-between">
                        <a class="mr-2">
                            <span class="pi pi-bookmark" *ngIf="!data.isBookmark" (click)="bookmark(data.id)"></span>
                            <span class="pi pi-bookmark-fill icon-bookmark-filled" *ngIf="data.isBookmark" (click)="unBookmark(data.id)"></span>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </p-card>
</div>          