<div class="container">
    <div class="grid px-7">
        <div class="col-9">
            <p-card styleClass="mt-3">
                <app-details-info (click)="clickStep()" *ngIf="firstStep"></app-details-info>
                <app-details-register *ngIf="!firstStep"></app-details-register>
                <!-- <div class="article-details-header w-full">
                    <div class="flex flex-row">
                        <div class="prof-pic">
                            <img src="https://assets.promediateknologi.com/crop/0x0:0x0/x/photo/2022/05/29/3967583242.jpg" alt="prof-pic">
                        </div>
    
                        <div class="flex flex-column py-2 ml-5 justify-content-between">
                            <div class="activity-owner">
                                <span>Salman Faris</span>
                            </div>
                            <div class="activity-date">
                                Upload 8 hours ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-details-body mt-3">
                    <div class="grid">
                        <div class="col-12 px-0 details-title">
                            <span>Pelatihan Memblokir Steam, Epic Games, Paypal, etc</span>
                        </div>
                        <div class="col-12 px-0 details-body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, officia! Labore non corrupti, rerum consectetur libero amet assumenda! Quam beatae sequi accusantium, distinctio officiis possimus laboriosam aut eligendi numquam ratione!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row justify-content-center mt-3">
                    <button pButton pRipple class="p-button-sm p-button-success" label="Register"></button>
                </div> -->
            </p-card>
        </div>
        <div class="col-3">
            <div class="grid">
                <div class="title mb-4 pt-3">
                    <span>Articles</span>
                </div>
                <div class="col-12 p-0 mb-2">
        
                    <div class="article-card">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://i.pinimg.com/originals/93/42/1e/93421e8db0859ecb02642b9b5f59aa5d.png" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>5 Fungsi Java Yang Perlu Diketahui</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>Fungsi dari garbage collector mampu mengumpulkan “sampah” secara otomatis. Hal ini akan membuat programmer tidak perlu 
                                dibebani dengan adanya memori yang rusak.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="article-card">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://www.vectorlogo.zone/logos/reactjs/reactjs-ar21.png" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>Tips menggunakan Hooks pada ReactJS</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>Hooks merupakan fitur yang backwards-compatible. Laman ini menyediakan ikhtisar mengenai Hooks untuk pengguna React yang 
                                berpengalaman. Laman ini merupakan ikhtisar yang singkat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>