<div class="container-home">
    <div class="grid p-3">
        <div class="sm:col-3 col-12">
            <div>
                <p-card>
                    <div class="photo-frame">
                        <div class="photo-profile">
                            <img *ngIf="user.data.file === null" src="../../../../../assets/img/blank-profile.jpg"
                                alt="">
                            <img *ngIf="user.data.file !== null" src="{{profilePic}}" alt="">
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Full Name</span>
                        </div>
                        <div class="profile-body">
                            <span>{{user.data.fullName}}</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Email</span>
                        </div>
                        <div class="profile-body">
                            <span class="">{{user.data.email}}</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Company</span>
                        </div>
                        <div class="profile-body">
                            <span class="">{{user.data.companyName}}</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Industry</span>
                        </div>
                        <div class="profile-body">
                            <span class="">{{user.data.industryName}}</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Position</span>
                        </div>
                        <div class="profile-body">
                            <span class="">{{user.data.positionName}}</span>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="grid p-0">
                            <div class="col-12">
                                <div class="flex flex-row justify-content-between">
                                    <div class="text-primary cursor-pointer font-semibold sidebar-profile"
                                        (click)="goToTransaction()">
                                        <span><i class="pi pi-align-justify"></i> Transaction</span>
                                    </div>
                                    <div class="text-primary cursor-pointer font-semibold sidebar-profile"
                                        (click)="goToEditProfile()">
                                        <span><i class="pi pi-pencil"></i> Edit Profile</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pb-0">
                                <div class="text-primary cursor-pointer font-semibold sidebar-profile"
                                    (click)="goToActivity()">
                                    <span><i class="pi pi-align-justify"></i> Activity</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>           
        </div>

        <div class="sm:col-9 col-12">  
            <p-card>
                <div class="grid">
                    <div class="col-10">
                        <h4 class="mb-5">Activity History</h4>
                    </div>
                    <div class="col-2">
                       
                    </div>
                </div>

                <p-table [value]="activities.data" responsiveLayout="scroll" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll" [paginator]="true" [rows]="maxPage" [totalRecords]="totalData" [loading]="loading" [rowsPerPageOptions]="[5, 10]" tyleClass="p-datatable-gridlines"> 
                <!-- <p-table [value]="invoices" responsiveLayout="scroll"> -->
                    <ng-template pTemplate="header">
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Started At</th>                                
                            <th>Ended At</th>
                            <th>Detail</th>                                
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-i="rowIndex" let-data>
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{data.activityTitle}}</td>
                            <td>{{data.activityCategoryName}}</td>
                            <td>{{data.activityTypeName}}</td>
                            <td>{{data.startedAt | date:'medium'}}</td> 
                            <td>{{data.endedAt | date:'medium'}}</td> 
                            <td>
                                <!-- <a (click)="detail(data.id)" style="cursor: pointer;">
                                    <i class="pi pi-eye" style="font-size:14px;"></i>                                    
                                </a> (click)="showDialog()" -->
                                <a (click)="showDialog()" style="cursor: pointer;">
                                    <i class="pi pi-eye" style="font-size:14px;"></i>                                    
                                </a> 
                                <p-dialog [style]="{'width' : '800px', 'height' : '800px'}" header="Report" [(visible)]="display">
                                    <form ngNativeValidate (ngSubmit)="download(data.id, startDate, endDate)">
                                        <div class="row-date">
                                            <div class="grid">
                                                <div class="lg:col-12 sm:col-12">
                                                    <label for="startDate" class="block">Start Date</label>
                                                    <p-calendar name="startDate" styleClass="w-full my-3" [(ngModel)] = "startDate" [required]="true"></p-calendar>
                                                </div>
                                            </div>
                                            <div class="grid">
                                                <div class="lg:col-12 sm:col-12">
                                                    <label for="endDate" class="block">End Date</label>
                                                    <p-calendar name="endDate" styleClass="w-full my-3" [(ngModel)] = "endDate"  [required]="true"></p-calendar>
                                                </div>
                                            </div>
                                            <div class="grid">
                                                <div class="lg:col-4 sm:col-12">
                                                    <button pButton type="submit" pRipple icon="pi pi-download" ></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </p-dialog>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>  

            </p-card>

            
        </div>
    </div>

</div>

