<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
    
    <!-- end of sidebar -->
    <div class="flex-1">
        <div class="m-5">
            <p-card >  
               <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div>    
                <div class="grid mb-5">
                    <div class="col-10">
                        <h4 >Update Company</h4>
                    </div>
                    <div class="col-2"></div>                                            
                </div>              

                <!-- update form -->
                <form class="mb-5" (ngSubmit)="updateSubmit()" ngNativeValidate>
                    <div class="grid">                        
                        <div class="col-12 sm:col-6">
                            <label for="name">Name <span class="text-red-500">*</span></label>                            
                            <input class="w-full" type="text"  name="companyName" id="name" pInputText [(ngModel)]="companyData.companyName" minlength="4" maxlength="35" required/>
                        </div>
                        <div class="col-12 sm:col-6">
                            <label for="code">Code <span class="text-red-500">*</span></label>                            
                            <input class="w-full" type="text"  name="companyCode" id="code" pInputText [(ngModel)]="companyData.companyCode" minlength="2" maxlength="10" required/>
                        </div>
                        <div class="col-12 sm:col-6">
                            <label for="address">Address <span class="text-red-500">*</span></label>                            
                            <textarea id="address" name="address" class="w-full" rows="5" pInputTextarea [(ngModel)]="companyData.address" required></textarea>
                        </div>
                        <div class="col-12 sm:col-6">
                            <label for="email">Email <span class="text-red-500">*</span></label>                            
                            <input class="w-full" type="email"  name="email" id="email" pInputText [(ngModel)]="companyData.email" minlength="15" maxlength="35" required/>
                        </div>
                        <div class="col-6">   
                            <label for="isActive">Active</label> <br>                         
                            <p-checkbox styleClass="mt-1" type="checkbox" name="isActive" id="" [binary]="true" [value]="companyData.isActive" [(ngModel)]="companyData.isActive" ></p-checkbox>
                        </div>
                        
                    </div>
                    <div class="grid">
                        <div class="col-12 sm:col-6 col-offset-6">
                            <button pButton pRipple type="submit" label="Change" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>                            
                        </div>
                    </div>
                </form>                                                                            
            </p-card>
            
        </div> 
    </div>
</div>

