<div class="grid" [ngStyle]="{'min-height': '100vh'}">
    <div class="sm:col-6 col-12" id="login" >
        
        <div class="flex justify-content-center align-items-center" id="container-quote" [ngStyle]="{'min-height': '100vh'}">
            <span class="text-white text-5xl" >
                Selamat datang di komunitas Lawencon
            </span>            
        </div>

        <div class="flex justify-content-center align-items-center mt-6" id="container-logo">
            <img id="login-logo" src="../../../../assets/img/lunity-logo.png" alt="">
        </div>

    </div>
    <div class="sm:col-6 col-12" [ngStyle]="{'min-height': '100vh'}" >
        <div class="flex justify-content-center align-items-center" [ngStyle]="{'min-height': '100vh'}">
            <div [ngStyle]="{'width': '75%'}">
            <form>  
                <span class="icon-round mr-2 mb-3" [ngStyle]="{'background-color': 'var(--blue-500)'}">
                    <i class="pi pi-upload text-white"></i>
                </span>
                <span>Personal Information</span>

                <div class="mt-2 w-full">
                    <label for="username">User Name</label><span class="text-red-500">*</span>
                </div>                
                <input class="mt-2 w-full" type="text"  name="usermame" id="username" [(ngModel)]="username" pInputText />

                <div class="mt-2 w-full">
                    <label for="fullName">Full Name</label><span class="text-red-500">*</span>
                </div>                
                <input class="mt-2 w-full" type="text"  name="fullName" id="fullName" [(ngModel)]="fullName" pInputText />

                <div class="mt-2 w-full">
                    <label for="email">Email</label><span class="text-red-500">*</span>
                </div>                
                <input class="mt-2 w-full" type="text" name="email" id="email" [(ngModel)]="email" pInputText />                
                
                <div class="mt-2 w-full">
                    <label for="userPassword">Password</label><span class="text-red-500">*</span>
                </div>                
                <input class="mt-2 w-full" type="password"  name="userPassword" id="userPassword" [(ngModel)]="userPassword" pInputText />

                <button class="mt-4 w-full" pButton type="button"  label="NEXT" (click)="submit()"></button>
            </form>     
            </div>
        </div>
    </div>
</div>