<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
    
    <div class="flex-1">
        <div class="m-5">
            <p-card > 
                <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div>  
                <h4 class="mb-5">Update Activity Type</h4>                
                <form class="form-create-custom" (ngSubmit)="onUpdate()" ngNativeValidate>
                    <div class="grid">
                        <div class="col-12 sm:col-6">
                            <label for="name">Name <span class="text-red-500">*</span></label><br>
                            <input class="w-full mt-2" id="name" name="name" pInputText autoResize="autoResize" [(ngModel)]="update.typeName" minlength="4" maxlength="35" required/>
                        </div>
                        <div class="col-12 sm:col-6">
                            <label for="code">Code <span class="text-red-500">*</span></label><br>
                            <input class="w-full mt-2" id="code" name="code" pInputText autoResize="autoResize" [(ngModel)]="update.typeCode" minlength="2" maxlength="10" required/>
                        </div>
                        <div class="col-12 sm:col-6">  
                            <label for="isActive">Active</label> <br>                         
                            <p-checkbox class="mt-2" type="checkbox" name="isActive" [binary]="true" [value]="update.isActive" [(ngModel)]="update.isActive" ></p-checkbox>
                        </div>
                        <div class="col-12">
                            <button pButton pRipple type="submit" label="Change" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
                        </div>                 
                    </div>
                </form>          
            </p-card>
            
        </div> 
    </div>
</div>

