<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
    
    <!-- end of sidebar -->
    <div class="flex-1">
        <div class="m-5">
            <p-card > 
                <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div>  
                <h4 class="mb-5">Update Thread</h4>                            
                    <label for="title">Title</label><br>
                    <textarea id="title" name="activityTitle" class="w-full mt-2 mb-5" rows="5" pInputTextarea autoResize="autoResize" ></textarea>
                    <br>

                    <label for="description">Description</label><br>
                    <textarea id="description" name="activityContent" class="w-full mt-2 mb-5" rows="5" pInputTextarea autoResize="autoResize" ></textarea>

                    
                    <div class="grid">
                        <div class="col-6 col-offset-6">
                            <button pButton pRipple type="button" label="Create" icon="pi pi-pencil" class="p-button-rounded p-button-success"></button>
                        </div>
                    </div>                                             
            </p-card>
            
        </div> 
    </div>
</div>

