<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
    
    <!-- end of sidebar -->
    <div class="flex-1">
        <div class="m-5">
            <p-card>
                <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div> 

                <div class="text-3xl mt-3">{{activity.data.activityTitle}} </div>
                <div class="text-xs my-1">posted by <span class="">{{activity.data.fullName}}</span>  </div>
                <div><span class="text-xs">{{activity.data.createdAt | date : "medium"}}</span>  </div>
                <div>
                    <table class="activity-detail-table mt-3">
                        <tbody>
                            <tr>
                                <td>Provider</td>
                                <td> : </td>
                                <td>{{activity.data.provider}}</td>
                            </tr>
                            <tr>
                                <td>Trainer</td>
                                <td> : </td>
                                <td>{{activity.data.trainer}}</td>
                            </tr>
                            <tr>
                                <td>Started at</td>
                                <td> : </td>
                                <td>{{activity.data.startedAt | date:'medium'}}</td>
                            </tr>
                            <tr>
                                <td>Ended at</td>
                                <td> : </td>
                                <td>{{activity.data.endedAt | date:'medium'}}</td>
                            </tr>
                            <tr>
                                <td>Limited</td>
                                <td> : </td>
                                <td *ngIf="activity.data.isLimit; else noLimit">
                                    for {{activity.data.quantity}} register
                                </td>
                            </tr>
                            <tr>
                                <td>Fee</td>
                                <td> : </td>
                                <td>{{activity.data.fee | customCurrency}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #noLimit>no limit</ng-template>
                </div>
                <div class="mt-3">content {{activity.data.activityContent}} </div>

            </p-card>
        </div> 
    </div>
</div>


