#home-bg {
    object-fit: cover;
    width: 100%;
}

.container-home {
    height: 8.5vh;
    background-image: url('../../../../assets/img/home-bg.jpg') !important;
}

.container-search > input {
    border-radius: 23px;
}

.title {
    font-size: 20px;
}

.content-card-header-pic {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    object-fit: cover;
}

.header-date {
    font-size: 12px;
    color: rgb(143, 143, 143);
}

.content-card-body > p {
    font-size: 14px;
    letter-spacing: 1px;
}

.content-card-footer-pic {
    border-radius: 50%;
    object-fit: cover;
    width: 6vh;
    height: 6vh;
}

.pic-abs {
    width: 6vh;
    height: 6vh;
    position: absolute;
    left: 10%;
    border: 0.5px solid white;
}

.icon-like-filled {
    color: red;
}

.icon-bookmark-filled {
    color: blue
}

.article-pic {
    width: 100%;
    height: 5rem;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.article-card {
    width: 18rem;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
    background-color: white;
}

.article-card-content {
    font-size: 12px;
}

.premium-content {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.premium-content:hover {
    cursor: pointer;
}

.pi-lock {
    font-size: 50px;
    color: black;
}

.pi-plus {
    font-size: 12px;
}

.form-title {
    font-size: 20px;
}

textarea {
    resize: none;
}

a {
    cursor: pointer;
}

.password-type {
    text-align: center;
}