<div class="container-home m-5 flex flex-wrap gap-6 justify-content-center" >
    <div class="card-subscription  flex flex-column" *ngFor="let data of subsCategories.data">
        <div class="card-subscription-header2 text-white text-4xl">
            {{convert(data.duration)}}
        </div>
        <div class="card-subscription-content text-l flex flex-column justify-content-center align-items-center gap-5 text-color-secondary">
            <div class="text-center px-3">{{data.description}}</div>
            <div class="card-subscription-price2 text-4xl">
                {{data.price | currency: "Rp" : "symbol" : "3.0"}}
            </div> 
        </div>
        <div class=" flex-grow-1 flex flex-column justify-content-center align-items-center">
            <button class="card-subscription-button2" (click)="onById(data.id)">Subscribe</button>
        </div>
    </div>
</div>