<div class="container-home m-5 flex flex-wrap gap-6 justify-content-center">

    <div class="card-subscription  flex flex-column">
        <div class="card-subscription-header2 text-white text-4xl">
            1 Year
        </div>
        <div class="card-subscription-content text-l flex flex-column justify-content-center align-items-center gap-5 text-color-secondary">
            <div>Access Premimum Thread</div>            
            <div>Consultation with The Expert</div>
            <div>and more</div>
            <div class="card-subscription-price2 text-4xl">
                Rp 200.000,-
            </div> 
        </div>
        <div class=" flex-grow-1 flex flex-column justify-content-center align-items-center">
            <button class="card-subscription-button2">Subscribe</button>
        </div>
    </div>

    <div class="card-subscription flex flex-column">
        <div class="card-subscription-header1 text-white text-4xl">
            6 Mounth
        </div>
        <div class="card-subscription-content text-l flex flex-column justify-content-center align-items-center gap-5 text-color-secondary">
            <div>Access Premimum Thread</div>            
            <div>Consultation with The Expert</div>
            <div>and more</div>
            <div class="card-subscription-price1 text-4xl">
                Rp 120.000,-
            </div> 
        </div>
        <div class="flex-grow-1 flex flex-column justify-content-center align-items-center">
            <button class="card-subscription-button1">Subscribe</button>            
        </div>
    </div>

    <div class="card-subscription  flex flex-column">
        <div class="card-subscription-header3 text-white text-4xl">
            1 Mounth
        </div>
        <div class="card-subscription-content text-l flex flex-column justify-content-center align-items-center gap-5 text-color-secondary">
            <div>Access Premimum Thread</div>            
            <div>Consultation with The Expert</div>
            <div>and more</div>
            <div class="card-subscription-price3 text-4xl">
                Rp 25.000,-
            </div> 
        </div>
        <div class=" flex-grow-1 flex flex-column justify-content-center align-items-center">
            <button class="card-subscription-button3">Subscribe</button> 
        </div>
    </div>
    
</div>