<div class="grid">
    <div class="col-3 p-4">
        <p-card>
            <div class="activity-wrapper">
                <div class="activity-type">
                    <div class="grid">
                        <div class="col-12">
                            <button pButton pRipple class="p-button-sm w-full" icon="pi pi-plus" label="New Activity" routerLink="/member/articles/create"></button>
                        </div>
                        <div class="col-12">
                            <span><b>Type</b></span>
                        </div>
                        <div class="col-12" *ngFor="let data of types.data; let i=index">
                            <p-radioButton name="type" [value]="data.id" inputId="event" styleClass="mx-2" [(ngModel)]="selectedType"></p-radioButton>
                            <label for="event" class="activity-label">{{data.typeName}}</label>
                        </div>
                    </div>
                </div>
                <div class="activity-category">
                    <div class="grid">
                        <div class="col-12">
                            <span><b>Category</b></span>
                        </div>
                        <div class="col-12" *ngFor="let data of categories.data; let i=index">
                            <p-radioButton name="category" [value]="data.id" styleClass="mx-2" [(ngModel)]="selectedCategory"></p-radioButton>
                            <label for="hr" class="activity-label">{{data.categoryName}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row justify-content-center">
                    <button pButton pRipple type="button" (click)="filter()" class="p-button-sm p-button-success mt-3" label="Apply"></button>
                </div>
            </div>
        </p-card>
    </div>

    <div class="col-9 p-4">
        <p-card>
            <div class="grid p-0">
                <div class="col-3" *ngFor="let data of activities.data; let i=index">
                    <a routerLink="/member/articles/details/1">
                        <div class="article-card w-full">
                            <div class="article-card-header">
                                <img class="article-pic mb-3" src="https://www.vectorlogo.zone/logos/reactjs/reactjs-ar21.png" alt="article-header-pic">
                                <div class="article-card-header-title px-3">
                                    <h5>{{data.activityTitle}}</h5>
                                </div>
                            </div>
                            <div class="article-card-content p-3">
                                <p>{{data.activityContent}}</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-3">
                    <div class="article-card w-full">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://i.pinimg.com/originals/93/42/1e/93421e8db0859ecb02642b9b5f59aa5d.png" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>Tips menggunakan Hooks pada ReactJS</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>Hooks merupakan fitur yang backwards-compatible. Laman ini menyediakan ikhtisar mengenai Hooks untuk pengguna React yang 
                                berpengalaman.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="article-card w-full">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://www.practicalecommerce.com/wp-content/uploads/2022/04/How-Conversion-Data-Improves-Google-Ads-Automation-288x216.jpg" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>Tips menggunakan Hooks pada ReactJS</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>Hooks merupakan fitur yang backwards-compatible. Laman ini menyediakan ikhtisar mengenai Hooks untuk pengguna React yang 
                                berpengalaman.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="article-card w-full">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://static.vecteezy.com/system/resources/thumbnails/006/892/683/small/microsoft-logo-icon-editorial-free-vector.jpg" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>Tips menggunakan Hooks pada ReactJS</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>Hooks merupakan fitur yang backwards-compatible. Laman ini menyediakan ikhtisar mengenai Hooks untuk pengguna React yang 
                                berpengalaman.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid p-0">
                <div class="col-3">
                    <div class="article-card w-full">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://www.vectorlogo.zone/logos/reactjs/reactjs-ar21.png" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>Tips menggunakan Hooks pada ReactJS</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>Hooks merupakan fitur yang backwards-compatible. Laman ini menyediakan ikhtisar mengenai Hooks untuk pengguna React yang 
                                berpengalaman.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="article-card w-full">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://i.pinimg.com/originals/93/42/1e/93421e8db0859ecb02642b9b5f59aa5d.png" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>Tips menggunakan Hooks pada ReactJS</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>Hooks merupakan fitur yang backwards-compatible. Laman ini menyediakan ikhtisar mengenai Hooks untuk pengguna React yang 
                                berpengalaman.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="article-card w-full">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://www.practicalecommerce.com/wp-content/uploads/2022/04/How-Conversion-Data-Improves-Google-Ads-Automation-288x216.jpg" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>Tips menggunakan Hooks pada ReactJS</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>Hooks merupakan fitur yang backwards-compatible. Laman ini menyediakan ikhtisar mengenai Hooks untuk pengguna React yang 
                                berpengalaman.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="article-card w-full">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://static.vecteezy.com/system/resources/thumbnails/006/892/683/small/microsoft-logo-icon-editorial-free-vector.jpg" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>Tips menggunakan Hooks pada ReactJS</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>Hooks merupakan fitur yang backwards-compatible. Laman ini menyediakan ikhtisar mengenai Hooks untuk pengguna React yang 
                                berpengalaman.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>