<div class="grid">
    <div class="col-3 p-4">
        <p-card>
            <div class="activity-wrapper">
                <div class="activity-type">
                    <div class="grid">
                        <div class="col-12">
                            <button pButton pRipple class="p-button-sm w-full" icon="pi pi-plus" label="New Activity" routerLink="/home/activities/create"></button>
                        </div>
                        <div class="col-12">
                            <span><b>Type</b></span>
                        </div>
                        <div class="col-12" *ngFor="let data of types.data; let i=index">
                            <p-radioButton name="type" [value]="data.id" inputId="event" styleClass="mx-2" [(ngModel)]="selectedType"></p-radioButton>
                            <label for="event" class="activity-label">{{data.typeName}}</label>
                        </div>
                    </div>
                </div>
                <div class="activity-category">
                    <div class="grid">
                        <div class="col-12">
                            <span><b>Category</b></span>
                        </div>
                        <div class="col-12" *ngFor="let data of categories.data; let i=index">
                            <p-radioButton name="category" [value]="data.id" styleClass="mx-2" [(ngModel)]="selectedCategory"></p-radioButton>
                            <label for="hr" class="activity-label">{{data.categoryName}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row justify-content-between">
                    <button pButton pRipple type="button" (click)="clear()" class="p-button-sm p-button-text p-button-info mt-3 px-2" label="Clear"></button>
                    <button pButton pRipple type="button" (click)="filter()" class="p-button-sm p-button-success mt-3" label="Apply"></button>
                </div>
            </div>
        </p-card>
    </div>

    <div class="col-9 p-4">
        <p-card>
            <div class="grid p-0">
                <div class="col-4" *ngFor="let data of activities.data; let i=index">
                    <a (click)="onById(data.id)">
                        <div class="article-card w-full">
                            <div class="article-card-header">
                                <img *ngIf="data.file" class="article-pic mb-3" [src]="'http://localhost:1221/files/' + data.file" alt="article-header-pic">
                                <img *ngIf="!data.file" class="article-pic mb-3" src="../../../../../assets/img/default-picture.jpg" alt="article-header-pic">
                                <div class="article-card-header-title px-3">
                                    <h4 class="white-space-nowrap overflow-hidden text-overflow-ellipsis" style="width:270px">{{data.activityTitle}}</h4>
                                </div>
                                
                            </div>
                            <div class="px-3 mt-2 flex flex-row justify-content-between">
                                <div class="padding-icon flex flex-row surface-200">
                                    <i class="icon-activity pi pi-book mr-1 "></i>
                                    <p class="icon-activity ">{{data.activityTypeName}}</p>
                                </div>
                                <div class="padding-icon flex flex-row surface-200">
                                    <p class="icon-activity text-cyan-500 font-semibold">{{data.activityCategoryName}}</p>
                                </div>
                            </div>
                            <div class="article-card-content px-3 py-2 grid flex flex-row lg:justify-content-between">
                                <p>
                                    <i class="icon-activity pi pi-clock"></i>
                                    {{data.startedAt | date : 'h:mm'}} - {{data.endedAt| date : 'h:mm'}}
                                </p>
                                <p>
                                    <i class="icon-activity pi pi-money-bill"></i>
                                    {{data.fee | currency: "Rp":"symbol":"3.0"}}
                                </p>
                            </div>
                            <div class="article-card-content px-3 pb-3">
                                <p>
                                    <i class="icon-activity pi pi-calendar"></i>
                                    {{data.startedAt | date : 'EEEE, d MMM'}} — {{data.endedAt| date : 'EEEE, d MMM, yy'}}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </p-card>
    </div>
</div>