<div class="container-home">
    <div class="grid">
        <div class="sm:col-3 col-12 h-screen">
            <div  class="mt-5">
                <p-card>                                                           
                    <div class=" ml-3">
                        <div class="text-primary cursor-pointer font-semibold" (click)="goToEditProfile()">
                            <span><i class="pi pi-pencil"></i> Edit Profile</span>
                        </div>                                                                      
                        <div class="text-primary cursor-pointer font-semibold mt-3" (click)="goToChangePassword()">
                            <span><i class="pi pi-pencil"></i> Change Password</span>
                        </div>                                                                      
                    </div>
                </p-card>
            </div>           
        </div>

        <div class="sm:col-9 col-12 mt-5">
            <p-card >
                <div class="grid">
                                    
                    <div class="col-12 sm:col-6">
                        <form >
                            <div class="mt-3">
                                <label >Old Password</label>                       
                                <input class="w-full" type="password" name="oldPassword" pInputText [(ngModel)]="passwordReq.oldPassword"/>
                            </div>
                            <div class="mt-3">
                                <label >New Password</label>                            
                                <input class="w-full" type="password" name="newPassword" pInputText [(ngModel)]="passwordReq.newPassword"/>
                            </div>
                            <div class="mt-3 mb-3">
                                <label >Confirm Password</label>                            
                                <input class="w-full" type="password" name="confirmPassword" pInputText [(ngModel)]="passwordReq.confirmPassword"/>
                            </div>
                            <button pButton pRipple  type="submit" label="Change" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
                        </form>                                                                                                                                                        
                    </div>    
                                        
                                                         
                </div>
            </p-card>
            
        </div>
    </div>

</div>