<div class="container-home">
    <div class="grid px-5">
        <div class="lg:col-3 sm:col-12 mt-2 lg:h-screen">
            <p-card>
                <div class="ml-3">
                    <div class="text-primary cursor-pointer font-semibold" (click)="goToEditProfile()">
                        <span><i class="pi pi-pencil"></i> Edit Profile</span>
                    </div>
                    <div class="text-primary cursor-pointer font-semibold mt-3" (click)="goToChangePassword()">
                        <span><i class="pi pi-pencil"></i> Change Password</span>
                    </div>
                </div>
            </p-card>
        </div>

        <div class="lg:col-9 sm:col-12 mt-2">
            <p-card>
                <div class="grid">
                    <div class="lg:col-5 lg:col-offset-3 sm:col-12 sm:col-offset-0">
                        <form (ngSubmit)="submit()">
                            <div class="mt-3">
                                <label class="block text-center">Old Password</label>
                                <div class="p-inputgroup mt-2">
                                    <input [type]="inputType" pInputText name="oldPassword"
                                        [(ngModel)]="data.oldPassword" class="password-type">
                                    <button type="button" pButton pRipple icon="pi pi-eye" styleClass="p-button-warn"
                                        (click)="show()"></button>
                                </div>
                            </div>
                            <div class="mt-3">
                                <label class="block text-center">New Password</label>
                                <input class="w-full mt-2 password-type" type="password" name="newPassword" pInputText
                                    [(ngModel)]="data.newPassword" />
                            </div>
                            <div class="mt-3">
                                <label class="block text-center">Confirm Password</label>
                                <input class="w-full mt-2 password-type" type="password" name="confirmPassword" pInputText
                                    [(ngModel)]="confirmNewPassword" />
                            </div>
                            <div class="flex flex-row justify-content-center mt-4">
                                <button pButton pRipple type="submit" label="Save Password"
                                    class="p-button-rounded p-button-info p-button-sm"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>