<div class="container">
    <div class="grid px-7">
        <div class="col-9">
            <p-card styleClass="mt-3">
                <form (ngSubmit)="submit()"  ngNativeValidate>
                    <div class="grid">
                        <div class="col-1">
                            <button pButton pRipple icon="pi pi-caret-left" class="p-button-danger p-button-sm"
                                label="Back" routerLink="/home/activities"></button>
                        </div>
                        <div class="col-10 flex flex-row justify-content-center">
                            <span class="form-title">New Activity</span>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="row-title">
                                <label for="activityTitle">Title <span class="text-red-500">*</span></label>
                                <input type="text" name="activityTitle" id="activityTitle" pInputText class="w-full my-3" [(ngModel)]="data.activityTitle" required>
                            </div>
                            <div class="row-description">
                                <label for="threadContent">Description <span class="text-red-500">*</span></label>
                                <textarea pInputTextarea class="w-full my-3" name="activityContent" id="activityContent" rows="3" [(ngModel)]="data.activityContent" required></textarea>
                            </div>
                            <div class="row-trainer-provider grid">
                                <div class="lg:col-4 sm:col-12">
                                    <label for="trainer">Trainer</label>
                                    <input type="text" name="trainer" id="trainer" pInputText class="w-full my-3" [(ngModel)]="data.trainer" >
                                </div>
                                <div class="lg:col-4 sm:col-12">
                                    <label for="provider">Provider</label>
                                    <input type="text" name="provider" id="provider" pInputText class="w-full my-3" [(ngModel)]="data.provider" >
                                </div>
                                <div class="lg:col-4 sm:col-12">
                                    <label for="category" class="block">Category <span class="text-red-500">*</span></label>
                                    <p-dropdown name="activityCategory" [options]="categories.data" [(ngModel)]="data.activityCategory" placeholder="Select category" 
                                    styleClass="my-3" styleClass="w-full my-3" optionLabel="categoryName" optionValue="id" [required]="true">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row-category-price">
                                <div class="grid">
                                    <div class="lg:col-5 sm:col-12">
                                        <label for="type" class="block">Type <span class="text-red-500">*</span></label>
                                        <p-dropdown name="activityType" [options]="types.data" [(ngModel)]="data.activityType" placeholder="Select type" 
                                        styleClass="my-3" styleClass="w-full my-3" optionLabel="typeName" optionValue="id" [required]="true">
                                        </p-dropdown>
                                    </div>
                                    <div class="lg:col-3 sm:col-12">
                                        <label for="file" class="block">Price <span class="text-red-500">*</span></label>
                                        <input type="number" pInputText class="my-3 w-full" [(ngModel)]="data.fee" name="fee" required>
                                    </div>
                                    <div class="lg:col sm:col-12 ml-2">
                                        <div class="field-checkbox m-0">
                                            <p-checkbox name="isLimit" [(ngModel)]="data.isLimit" [binary]="true" inputId="limit"></p-checkbox>
                                            <label for="binary" class="ml-2">Limit Attendance</label>
                                        </div>
                                        <div class="field-attendance">
                                            <input type="number" class="limit-input w-full" pInputText [disabled]="data.isLimit == false" name="quantity" [(ngModel)]="data.quantity" min="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-date">
                                <div class="grid">
                                    <div class="lg:col-4 sm:col-12">
                                        <label for="startDate" class="block">Start Date <span class="text-red-500">*</span></label>
                                        <p-calendar name="startDate" styleClass="w-full my-3" [(ngModel)]="data.startedAt" [showTime]="true" [required]="true"></p-calendar>
                                    </div>
                                    <div class="lg:col-4 sm:col-12">
                                        <label for="endDate" class="block">End Date <span class="text-red-500">*</span></label>
                                        <p-calendar name="endDate" styleClass="w-full my-3" [(ngModel)]="data.endedAt" [showTime]="true" [required]="true"></p-calendar>
                                    </div>
                                    <div class="lg:col-4 sm:col-12">
                                        <label for="file">File</label>
                                        <p-fileUpload #fubauto styleClass="my-3 p-button-sm p-button-outlined" mode="basic" name="file" accept="image/*" [auto]="true" chooseLabel="Upload" 
                                                    chooseIcon="pi pi-upload" [customUpload]="true" (uploadHandler)="change($event)"></p-fileUpload>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="flex flex-row justify-content-center">
                                <button pButton pRipple type="submit" class="p-button-info p-button-sm" label="Save"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>
        <div class="col-3">
            <div class="grid">
                <div class="title mb-4 pt-3">
                    <span>Articles</span>
                </div>
                <div class="col-12 p-0 mb-2" *ngFor="let data of articlesData">
                    <div class="article-card" (click)="goToArticle(data.id)">
                        <div class="article-card-header">                           
                            <img class="article-pic" *ngIf="data.file === null" src="../../../../../assets/img/default-picture.jpg"
                            alt="">
                            <img class="article-pic" *ngIf="data.file !== null" [src]="'http://localhost:1221/files/' + data.file" alt="">
                            
                            <div class="article-card-header-title px-3">
                                <h5 class="white-space-nowrap overflow-hidden text-overflow-ellipsis">{{data.threadTitle}}</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
                                {{data.threadContent}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>