<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
    
    <!-- end of sidebar -->
    <div class="flex-1">
        <div class="m-5">
            <p-card >
                <div class="grid mb-1">
                    <div class="col-10 flex flex-row align-items-center">
                        <h4>Users List</h4>              
                    </div>
                </div>
                <p-table [value]="users.data" responsiveLayout="scroll" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll" [paginator]="true" [rows]="maxPage" [totalRecords]="totalData" [loading]="loading" [rowsPerPageOptions]="[5, 10]" tyleClass="p-datatable-gridlines"> 
                    <ng-template  pTemplate="header" > 
                        <tr>
                            <th>No</th>                            
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Active</th>                    
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-i="rowIndex" let-data>
                        <tr>
                            <td>{{i+1}}</td>                            
                            <td>{{data.fullName}}</td>
                            <td>{{data.username}}</td>
                            <td>{{data.email}}</td>                            
                            <td>
                                <div *ngIf="data.isActive" class="check-status-custom-true">
                                    <i class="pi pi-check font-bold text-blue-500"></i>
                                </div>
                                <div *ngIf="!data.isActive" class="check-status-custom-false"></div>
                            </td>                            
                            <td>
                                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="editAt(data.id)"></button>
                                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>                
            </p-card>
            
        </div> 
    </div>
</div>

