<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
    
    <!-- end of sidebar -->
    <div class="flex-1">
        <div class="m-5">
            <p-card > 
                <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div>  
                <h4 class="mb-5">Update Article</h4>                
                <form class="form-create-custom" ngNativeValidate (ngSubmit)="submit()">
                    <label for="title">Title <span class="text-red-500">*</span></label><br>
                    <textarea id="title" name="activityTitle" class="mt-2 mb-3" [rows]="2"  pInputTextarea  [(ngModel)]="updateReq.threadTitle" required></textarea>

                    <label for="description">Description <span class="text-red-500">*</span></label><br>
                    <textarea id="description" name="activityContent" class="mt-2 mb-3" [rows]="3"  pInputTextarea [(ngModel)]="updateReq.threadContent" required></textarea>                    

                    <label for="category">Active</label><br>
                    <p-checkbox class="mt-2" name="isActive" [binary]="true" [(ngModel)]="updateReq.isActive" [value]="updateReq.isActive"></p-checkbox>

                    <div class="grid">
                        <div class="col-6 col-offset-6">
                            <button pButton pRipple [loading]="isLoading" type="submit" label="Change" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
                        </div>
                    </div>
                    
                </form>          
            </p-card>
            
        </div> 
    </div>
</div>

