<div class="flex flex-row bg-blue-custom">
    <div id="menu-side-custom" class="flex">
        <side-bar-custom></side-bar-custom>
    </div>
    
    <!-- end of sidebar -->
    <div class="flex-1">
        <div class="m-5">
            <p-card > 
                <div class="grid mb-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-success" (click)="goTo()"></button>
                    </div>
                </div>  
                <!-- insert form -->
                <form class="mb-5" (ngSubmit)="onUpdate()">
                    <div class="grid">
                        <div class="col-12 sm:col-12 photo-frame">
                            <div class="photo-profile">
                                <img src="../../../../assets/img/profile-1.jpg" alt="">
                            </div>
                        </div>                    
                         
                        <div class="col-12 sm:col-6">
                            <div class="mt-3">
                                <label for="fullname" >Name</label>                            
                                <input class="w-full" type="text" pInputText name="fullname" disabled [(ngModel)]="update.fullName"/>
                            </div>
                            <div class="mt-3">
                                <label for="username" >UserName</label>                            
                                <input class="w-full" type="text" pInputText disabled name="username" [(ngModel)]="update.username"/>
                            </div>
                            <div class="mt-3">
                                <label for="email">Email</label>                            
                                <input class="w-full" type="email" pInputText disabled name="email"/>
                            </div>                                                                                                                                 
                        </div>    
                        
                        <div class="col-12 sm:col-6 ">
                            <div class="mt-3">
                                <label for="company">Company</label>                            
                                <input class="w-full" type="text" pInputText disabled name="company" [(ngModel)]="update.companyName"/>
                            </div>
                            
                            <div class="mt-3">
                                <label for="industry" >Industry</label>                            
                                <input class="w-full" type="text" pInputText disabled name="industry" [(ngModel)]="update.industryName"/>
                            </div>
                            
                            <div class="mt-3">
                                <label for="position">Position</label>                            
                                <input class="w-full" type="text" pInputText disabled name="position" [(ngModel)]="update.positionName"/>
                            </div>
                        </div> 
                        <div class="col-12 sm:col-12">
                            <label for="isActive">Active</label>
                            <input type="checkbox" name="isActive" id="isActive" [(ngModel)]="update.isActive">
                        </div>  
                        <div class="col-12 sm:col-6 ">                          
                            <button pButton pRipple type="submit" label="Change" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>                                                      
                        </div>
                                                             
                    </div>
                </form>          
            </p-card>
            
        </div> 
    </div>
</div>

