<div class="container" >
    <div class="grid p-3">
        <div class="sm:col-3 col-12">
            <div>
                <p-card>
                    <div class="photo-frame">
                        <div class="photo-profile">
                            <img *ngIf="user.data.file === null" src="../../../../../assets/img/blank-profile.jpg"
                                alt="">
                            <img *ngIf="user.data.file !== null" src="{{profilePic}}" alt="">
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Full Name</span>
                        </div>
                        <div class="profile-body">
                            <span>{{user.data.fullName}}</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Email</span>
                        </div>
                        <div class="profile-body">
                            <span class="">{{user.data.email}}</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Company</span>
                        </div>
                        <div class="profile-body">
                            <span class="">{{user.data.companyName}}</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Industry</span>
                        </div>
                        <div class="profile-body">
                            <span class="">{{user.data.industryName}}</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 mt-3">
                        <div class="profile-header mb-1">
                            <span class="text-color-secondary block">Position</span>
                        </div>
                        <div class="profile-body">
                            <span class="">{{user.data.positionName}}</span>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="grid p-0">
                            <div class="col-12">
                                <div class="flex flex-row justify-content-between">
                                    <div class="text-primary cursor-pointer font-semibold sidebar-profile"
                                        (click)="goToTransaction()">
                                        <span><i class="pi pi-align-justify"></i> Transaction</span>
                                    </div>
                                    <div class="text-primary cursor-pointer font-semibold sidebar-profile"
                                        (click)="goToEditProfile()">
                                        <span><i class="pi pi-pencil"></i> Edit Profile</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pb-0">
                                <div class="text-primary cursor-pointer font-semibold sidebar-profile"
                                    (click)="goToActivity()">
                                    <span><i class="pi pi-align-justify"></i> Activity</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>

        <div class="lg:col-9 sm:col-12">
            <p-tabView (onChange)="tabThread($event)">
                <p-tabPanel header="Threads">
                    <div infinite-scroll (scrolled)="onScrollThread()" *ngIf="indexTab === 0">
                        <p-card styleClass="mb-3" *ngFor="let data of threads.data">
                            <div class="content-card-header flex flex-row px-4 mb-3">
                                <img class="content-card-header-pic" *ngIf="user.data.file === null"
                                    src="../../../../../assets/img/blank-profile.jpg" alt="">
                                <img class="content-card-header-pic" *ngIf="user.data.file !== null" src="{{profilePic}}"
                                    alt="">
                                <div class="content-card-header-dtl ml-3 flex flex-column justify-content-center">
                                    <div class="header-details mt-3">
                                        <h4>{{data.threadTitle}}</h4>
                                        <span class="header-date">{{data.createdAt | timeAgo}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content-card-body mt-2 px-4">
                                <p>
                                    {{data.threadContent}}
                                </p>
                            </div>
                    
                            <div class="content-card-footer mt-3 px-4">
                                <div class="grid flex flex-row justify-content-between">
                                    <div class="activity-left flex flex-row align-items-center">
                                        <a class="mr-2">
                                            <span class="pi pi-heart" *ngIf="!data.isLike" (click)="like(data.id)"></span>
                                            <span class="pi pi-heart-fill icon-like-filled" *ngIf="data.isLike" (click)="unlike(data.id)"></span>
                                        </a>
                                        <span class="mr-3">{{data.countLike}}</span>
                                        <a class="mr-2" (click)="goToComment(data.id)">
                                            <span class="pi pi-comment"></span>
                                        </a>
                                        <span class="mr-3">{{data.countComment}}</span>
                                    </div>
                    
                                    <div class="activity-right flex flex-row align-items-center">
                                        <div class="flex flex-row justify-content-between">
                                            <a class="mr-2">
                                                <span class="pi pi-bookmark" *ngIf="!data.isBookmark" (click)="bookmark(data.id)"></span>
                                                <span class="pi pi-bookmark-fill icon-bookmark-filled" *ngIf="data.isBookmark" (click)="unBookmark(data.id)"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Bookmarks">
                    <div infinite-scroll (scrolled)="onScrollBookmark()" *ngIf="indexTab === 1">
                        <p-card styleClass="mb-3" *ngFor="let data of bookmarkThreads.data">
                            <div class="content-card-header flex flex-row px-4 mb-3">
                                <img class="content-card-header-pic" *ngIf="data.userFile === null"
                                    src="../../../../../assets/img/blank-profile.jpg" alt="">
                                <img class="content-card-header-pic" *ngIf="data.userFile !== null" src="{{'http://localhost:1221/files/'+data.userFile}}"
                                    alt="">
                                <div class="content-card-header-dtl ml-3 flex flex-column justify-content-center">
                                    <div class="header-details mt-3">
                                        <h4>{{data.threadTitle}}</h4>
                                        <span class="header-date">{{data.createdAt | timeAgo}}</span>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="content-card-body mt-2 px-4">
                                <p>
                                    {{data.threadContent}}
                                </p>
                            </div>
                    
                            <div class="content-card-footer mt-3 px-4">
                                <div class="grid flex flex-row justify-content-between">
                                    <div class="activity-left flex flex-row align-items-center">
                                        <a class="mr-2">
                                            <span class="pi pi-heart" *ngIf="!data.isLike" (click)="like(data.id)"></span>
                                            <span class="pi pi-heart-fill icon-like-filled" *ngIf="data.isLike" (click)="unlike(data.id)"></span>
                                        </a>
                                        <span class="mr-3">{{data.countLike}}</span>
                                        <a class="mr-2" (click)="goToComment(data.id)">
                                            <span class="pi pi-comment"></span>
                                        </a>
                                        <span class="mr-3">{{data.countComment}}</span>
                                    </div>
                    
                                    <div class="activity-right flex flex-row align-items-center">
                                        <div class="flex flex-row justify-content-between">
                                            <a class="mr-2">
                                                <span class="pi pi-bookmark" *ngIf="!data.isBookmark" (click)="bookmark(data.id)"></span>
                                                <span class="pi pi-bookmark-fill icon-bookmark-filled" *ngIf="data.isBookmark" (click)="unBookmark(data.id)"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Likes">
                    <div infinite-scroll (scrolled)="onScrollLike()" *ngIf="indexTab === 2">
                        <p-card styleClass="mb-3" *ngFor="let data of likeThreads.data">
                            <div class="content-card-header flex flex-row px-4 mb-3">
                                <img class="content-card-header-pic" *ngIf="data.userFile === null"
                                    src="../../../../../assets/img/blank-profile.jpg" alt="">
                                <img class="content-card-header-pic" *ngIf="data.userFile !== null" src="{{'http://localhost:1221/files/'+data.userFile}}" alt="">
                                
                                <div class="content-card-header-dtl ml-3 flex flex-column justify-content-center">
                                    <div class="header-details mt-3">
                                        <h4>{{data.threadTitle}}</h4>
                                        <span class="header-date">{{data.createdAt | timeAgo}}</span>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="content-card-body mt-2 px-4">
                                <p>
                                    {{data.threadContent}}
                                </p>
                            </div>
                    
                            <div class="content-card-footer mt-3 px-4">
                                <div class="grid flex flex-row justify-content-between">
                                    <div class="activity-left flex flex-row align-items-center">
                                        <a class="mr-2">
                                            <span class="pi pi-heart" *ngIf="!data.isLike" (click)="like(data.id)"></span>
                                            <span class="pi pi-heart-fill icon-like-filled" *ngIf="data.isLike" (click)="unlike(data.id)"></span>
                                        </a>
                                        <span class="mr-3">{{data.countLike}}</span>
                                        <a class="mr-2" (click)="goToComment(data.id)">
                                            <span class="pi pi-comment"></span>
                                        </a>
                                        <span class="mr-3">{{data.countComment}}</span>
                                    </div>
                    
                                    <div class="activity-right flex flex-row align-items-center">
                                        <div class="flex flex-row justify-content-between">
                                            <a class="mr-2">
                                                <span class="pi pi-bookmark" *ngIf="!data.isBookmark" (click)="bookmark(data.id)"></span>
                                                <span class="pi pi-bookmark-fill icon-bookmark-filled" *ngIf="data.isBookmark" (click)="unBookmark(data.id)"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </div>          
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>