<div class="grid" [ngStyle]="{'min-height': '100vh'}">
    <div class="sm:col-6 col-12" id="login" >
        
        <div class="flex justify-content-center align-items-center" id="container-quote" [ngStyle]="{'min-height': '95vh'}">
            <span class="text-white text-5xl" >
                Selamat datang di komunitas Lawencon
            </span>            
        </div>

        <div class="flex justify-content-center align-items-center mt-6" id="container-logo">
            <img id="login-logo" src="../../../../assets/img/lunity-logo.png" alt="">
        </div>

    </div>
    <div class="sm:col-6 col-12 p-0" [ngStyle]="{'min-height': '100vh'}" >
        <div class="flex justify-content-center align-items-center" [ngStyle]="{'min-height': '100vh'}">
            <div [ngStyle]="{'width': '75%'}">
            <form (ngSubmit)="login()">
                <span class="icon-round mr-2 mb-3" [ngStyle]="{'background-color': 'var(--blue-500)'}">
                    <i class="pi pi-sign-in text-white"></i>
                </span>
                <span>Login Account</span> 

                <div class="mt-2">
                    <label for="username">Username</label>
                </div>
                
                <input class="mt-2" type="text" [ngStyle]="{'width': '100%'}" name="username" id="username" pInputText [(ngModel)]="loginReq.username" />

                <div class="mt-2">
                    <label class="mt-2" for="password">Password</label>
                </div>
                                
                <input class="mt-2" type="password" [ngStyle]="{'width': '100%'}" name="password" id="password" pInputText [(ngModel)]="loginReq.userPassword"/>

                <button class="mt-4" pButton type="submit" [ngStyle]="{'width': '100%'}" label="SIGN IN" ></button>
                
                <div class="flex justify-content-center mt-4">
                    <span>Don't have an account?</span>
                    <a routerLink="/signup">
                        <span class="text-primary ml-1" routerLink="/signup"> Sign Up </span>
                    </a>
                </div>
            </form>        
            </div>
        </div>
    </div>
</div>
<p-toast position="top-right"></p-toast>