* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.bg-blue-custom {
  background-color: rgb(222, 238, 255);
}

body {
  background-color: #f0f4fa;
}

table {
  border: none;
}

.table-custom thead {
  background-color: #ebebeb;
}

.grid {
  margin: 0px !important;
}

#login {
  background-image: url("./assets/img/hannah-busing-eco.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#login-logo {
  width: 50%;
}

#container-quote {
  width: 100%;
  position: absolute;
  z-index: 3;
  text-align: center;
}

.icon-round {
  padding: 15px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: inline-block;
}

.menu-item-custom span {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.menu-button-custom {
  padding-top: 3px;
  padding-bottom: 3px;
}

.side-menu-bar-custom {
  border-radius: 0px 15px 15px 0px;
  box-shadow: 1px 4px 5px #5e5e5e;
}

.card-custom {
  width: 240px;
  min-height: 110px;

  background: linear-gradient(
    0deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(186, 186, 186, 1) 100%
  );
  border-radius: 15px;
  box-shadow: 1px 4px 5px #00000088;
  cursor: pointer;
  padding: 20px;
}
.card-custom-icon {
  text-align: center;
}
.card-custom-count {
  text-align: right;
}
.custom-card-header {
  height: 50px;
  overflow: hidden;
}

.form-create-custom textarea {
  width: 100%;
}

.check-status-custom-true {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  border: 2px solid #3b82f3;

  display: flex;
  justify-content: center;
  align-items: center;
}
.check-status-custom-false {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  border: 2px solid #444444;

  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.photo-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-profile {
  /* min-width: 200px; */
  max-width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-profile img {
  width: 100%;
}

#menu-side-custom {
  width: 224px;
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;
}

#x {
  border: solid 1px rgba(186, 186, 186, 0);
}
