<div class="container-home" infinite-scroll (scrolled)="onScroll()">

    <div class="grid flex justify-content-center align-items-center">
        <div class="w-14.5rem container-search mt-2">
            <input pInputText class="px-4 py-2" placeholder="Search......" />
        </div>
    </div>

    <div class="grid px-7 pt-2">
        <div class="lg:col-9 xs:col-12">
            <button pButton pRipple class="p-button-sm p-button-rounded p-button-info mb-2" label="Thread" routerLink="/member/create">
                <i class="pi pi-plus mr-2"></i>
            </button>
            <div>
                <div class="content-home">
                    <div *ngFor="let data of threadsData">
                        <p-card styleClass="mb-3" *ngIf="data.threadCategoryName === reguler">
                            <div class="content-card-header flex flex-row px-4 mb-3">
                                <img class="content-card-header-pic"
                                    src="https://image.tmdb.org/t/p/w235_and_h235_face/6wsOvUn9YewNZ3IEEBWfiDVTYOc.jpg"
                                    alt="profile-picture">
                                <div class="content-card-header-dtl ml-3 flex flex-column justify-content-center">
                                    <div class="header-details mt-3">
                                        <h4>{{data.threadTitle}} </h4>
                                        <span class="header-date">Upload at {{data.createdAt|timeAgo}} by {{data.userName}}</span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="content-card-body mt-2 px-4">
                                <p>
                                    {{data.threadContent}}
                                </p>
                            </div>
        
                            <div class="content-card-footer mt-3 px-4">
                                <div class="grid flex flex-row justify-content-between">
                                    <div class="activity-left flex flex-row align-items-center">
                                        <a class="mr-2">
                                            <span class="pi pi-heart" *ngIf="!data.isLike" (click)="like(data.id)"></span>
                                            <span class="pi pi-heart-fill icon-like-filled" *ngIf="data.isLike" (click)="unlike(data.id)"></span>
                                        </a>
                                        <span class="mr-3">{{data.countLike}}</span>
                                        <a class="mr-2" (click)="toDetail(data.id)">
                                            <span class="pi pi-comment"></span>
                                        </a>
                                        <span class="mr-3">{{data.countComment}}</span>
                                    </div>
        
                                    <div class="activity-right flex flex-row align-items-center">
                                        <div class="flex flex-row justify-content-between">
                                            <a class="mr-2">
                                                <span class="pi pi-bookmark" *ngIf="!data.isBookmark" (click)="bookmark(data.id)"></span>
                                                <span class="pi pi-bookmark-fill icon-bookmark-filled" *ngIf="data.isBookmark" (click)="unBookmark(data.id)"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-card>
    
                        <p-card styleClass="mt-3" *ngIf="data.threadCategoryName === premium">
                            <div class="content-card-header flex flex-row px-4 mb-3">
                                <img class="content-card-header-pic"
                                    src="https://thumb.zigi.id/frontend/thumbnail/2021/10/02/zigi-6158341e65999-caitlin-halderman_910_512.jpeg"
                                    alt="profile-picture">
                                <div class="content-card-header-dtl ml-3 flex flex-column justify-content-center">
                                    <div class="header-details mt-3">
                                        <h4>{{data.threadTitle}}</h4>
                                        <span class="header-date">Upload {{data.createdAt|timeAgo}} by {{data.userName}}</span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="premium-content">
                                <div class="flex flex-row justify-content-center">
                                    <div class="mt-5 absolute">
                                        <i class="pi pi-lock"></i>
                                    </div>
                                </div>
                                <div class="content-card-body mt-2 px-4">
                                    <p>
                                        {{trimCharSubs(data.threadContent)}}
                                    </p>
                                </div>
            
                                <div class="content-card-footer mt-3 px-4">
                                    <div class="grid flex flex-row justify-content-between">
                                        <div class="activity-left flex flex-row align-items-center">
                                            <a class="mr-2">
                                                <span class="pi pi-heart" *ngIf="!data.isLike"></span>
                                                <span class="pi pi-heart-fill icon-like-filled" *ngIf="data.isLike"></span>
                                            </a>
                                            <span class="mr-3">{{data.countLike}}</span>
                                            <a class="mr-2">
                                                <span class="pi pi-comment"></span>
                                            </a>
                                            <span class="mr-3">{{data.countComment}}</span>
                                        </div>
            
                                        <div class="activity-right flex flex-row align-items-center">
                                            <div class="flex flex-row justify-content-between">
                                                <a class="mr-2">
                                                    <span class="pi pi-bookmark" *ngIf="!data.isBookmark"></span>
                                                    <span class="pi pi-bookmark-fill icon-bookmark-filled" *ngIf="data.isBookmark"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-card>

                        <p-card styleClass="mb-3" *ngIf="data.threadCategoryName === polling">
                            <div class="content-card-header flex flex-row px-4 mb-3">
                                <img class="content-card-header-pic"
                                    src="https://image.tmdb.org/t/p/w235_and_h235_face/6wsOvUn9YewNZ3IEEBWfiDVTYOc.jpg"
                                    alt="profile-picture">
                                <div class="content-card-header-dtl ml-3 flex flex-column justify-content-center">
                                    <div class="header-details mt-3">
                                        <h4>{{data.threadTitle}}</h4>
                                        <span class="header-date">Upload {{data.createdAt|timeAgo}} by {{data.userName}}</span>
                                    </div>
                                </div>
                            </div>
            
                            <div class="content-card-body mt-2 px-4">
                                <p>
                                    {{data.threadContent}}
                                </p>
                            </div>
                            <div class="flex flex-column " *ngFor="let polling of data.polling?.details">
                                <button pButton pRipple label={{polling.pollingDetailsName}} type="button" 
                                class="p-button-rounded p-button-primary flex-grow-1 mt-3" 
                                (click)="insertPol(polling.id)" *ngIf="data.polling!.header.isPolling == false">
                                </button>  
                                <button pButton pRipple label={{polling.pollingDetailsName}} type="button" 
                                class="p-button-rounded p-button-danger flex-grow-1 mt-3" 
                                *ngIf="data.polling!.header.isPolling == true" [disabled] = "true">
                                </button>                                              
                            </div>
            
                            <div class="content-card-footer mt-3 px-4">
                                <div class="grid flex flex-row justify-content-between">
                                    <div class="activity-left flex flex-row align-items-center">
                                        <a class="mr-2">
                                            <span class="pi pi-heart" *ngIf="!data.isLike" (click)="like(data.id)"></span>
                                            <span class="pi pi-heart-fill icon-like-filled" *ngIf="data.isLike" (click)="unlike(data.id)"></span>
                                        </a>
                                        <span class="mr-3">{{data.countLike}}</span>
                                        <a class="mr-2" (click)="toDetail(data.id)">
                                            <span class="pi pi-comment"></span>
                                        </a>
                                        <span class="mr-3">{{data.countComment}}</span>
                                    </div>
        
                                    <div class="activity-right flex flex-row align-items-center">
                                        <div class="flex flex-row justify-content-between">
                                            <a class="mr-2">
                                                <span class="pi pi-bookmark" *ngIf="!data.isBookmark" (click)="bookmark(data.id)"></span>
                                                <span class="pi pi-bookmark-fill icon-bookmark-filled" *ngIf="data.isBookmark" (click)="unBookmark(data.id)"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-card> 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="grid">
                <div class="col-12">
                    <div class="title mb-2">
                        <span>Articles</span>
                    </div>
                </div>
                <div class="col-12 p-0 mb-2" *ngFor="let data of articlesData">
                    <div class="article-card">
                        <div class="article-card-header">
                            <img class="article-pic mb-3" src="https://i.pinimg.com/originals/93/42/1e/93421e8db0859ecb02642b9b5f59aa5d.png" alt="article-header-pic">
                            <div class="article-card-header-title px-3">
                                <h5>{{data.threadTitle}}</h5>
                            </div>
                        </div>
                        <div class="article-card-content p-3">
                            <p>
                                {{trimChar(data.threadContent)}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>