<div class="container">
    <div class="grid px-7">
        <div class="col-9">
            <p-card styleClass="mt-3">
                <form class="invoice-card px-4" (ngSubmit)="submit()">
                    <div class="invoice-header">
                        <span class="block details-title mb-2">{{subscription.data.description}}</span>
                        <b>
                            <span class="text-red-500">{{subscription.data.price | currency : "Rp"}}</span>
                        </b>
                    </div>
                    <div class="invoice-body my-4">
                        <span>Follow this instruction to subscription:</span>
                        <ol class="mt-2">
                            <li>Transfer to 552710231 (BCA) or 14552901234 (MANDIRI) - Ardy Sitio,</li>
                            <li>Screenshot or take a picture of transfer detail,</li>
                            <li>Upload the photo by click "Upload" below</li>
                            <p-fileUpload #fubauto styleClass="mb-3 p-button-sm p-button-outlined" mode="basic" name="file" accept="image/*" [auto]="true" chooseLabel="Upload" 
                                chooseIcon="pi pi-upload" [customUpload]="true" (uploadHandler)="change($event)"></p-fileUpload>
                            <li>Click "submit" and our team will validate your payment</li>
                        </ol>
                
                    </div>
                    <span>Thank you!</span>
                    <div class="flex flex-row justify-content-center mt-3">
                        <button pButton pRipple class="p-button-sm p-button-success" type="submit" label="Submit" ></button>
                    </div>
                </form>
            </p-card>
        </div>
    </div>
</div>

