<div class="container px-5 py-3">
    <p-card styleClass="px-8">
        <div class="article-detail-header mb-3">
            <img class="content-card-header-pic" *ngIf="thread.data.file === null"
                src="../../../../../assets/img/default-picture.jpg" alt="">
            <img class="content-card-header-pic" *ngIf="thread.data.file !== null" [src]="'http://localhost:1221/files/' + thread.data.file" alt="">
            <span class="article-detail-header title block">{{thread.data.threadTitle}}</span>
            <span class="uploaded">{{thread.data.createdAt | timeAgo}}</span>
        </div>
        <div class="article-detail-body">
            <p>
                {{thread.data.threadContent}}
            </p>
        </div>
    </p-card>
</div>