<div class="container px-5 py-2">
    <div class="mx-5">
        <button pButton pRipple type="button" icon="pi pi-chevron-left" 
        class="p-button-rounded p-button-danger p-button-outlined mb-2" routerLink="/home/articles"></button>
    </div>
    <p-card styleClass="mx-5">
        <div class="article-detail-header mb-3">
            <img class="content-card-header-pic" *ngIf="thread.data.file === null"
                src="../../../../../assets/img/default-picture.jpg" alt="">
            <img class="content-card-header-pic" *ngIf="thread.data.file !== null" [src]="'http://localhost:1221/files/' + thread.data.file" alt="">
            <span class="article-detail-header title block">{{thread.data.threadTitle}}</span>
            <span class="uploaded">{{thread.data.createdAt | timeAgo}}</span>
        </div>
        <div class="article-detail-body">
            <p>
                {{thread.data.threadContent}}
            </p>
        </div>
    </p-card>
</div>